<div class="mb-12 flex items-center  space-x-4 md:mb-0">
  <a href="#">
    <div class="h-6 w-6 flex items-center justify-center">
      <img src="/assets/ls_shop/icons/facebook.svg" alt="Facebook" />
    </div>
  </a>
  <a href="#">
    <div class="h-6 w-6 flex items-center justify-center">
      <img src="/assets/ls_shop/icons/twitter.svg" alt="twitter" />
    </div>
  </a>
  <a href="#">
    <div class="h-6 w-6 flex items-center justify-center">
      <img src="/assets/ls_shop/icons/instagram.svg" alt="instagram" />
    </div>
  </a>
  <a href="#">
    <div class="h-6 w-6 flex items-center justify-center">
      <img src="/assets/ls_shop/icons/snapchat.svg" alt="snapchat" />
    </div>
  </a>
  <a href="#">
    <div class="h-6 w-6 flex items-center justify-center">
      <img src="/assets/ls_shop/icons/tiktok.svg" alt="tiktok" />
    </div>
  </a>
</div>